		html {
    		overflow-x: hidden; } /*To disable horizontal scrolling*/

		body {
			background-color: #5F9EA0; /*Sets the color of the body to cadete blue*/
		}

		.content { /*Sets all the content of the page to use all the viewport and to flex and wrap*/
			width: 100%;
			display: flex;
			flex-wrap: wrap;
		}

		.box {
			width: 100%; /*Sets the container of all the two boxes to use all the viewport*/
		}

		.caja-superior {
			background-color: #F0FFF0; /*Sets the color of the header to Honeydew*/
			box-sizing: border-box; /*The box-sizing property allows us to include the padding and border in an element's total width and height.*/
			border-radius: 10px;
			padding-top: 10px;
			padding-bottom: 10px;
			margin-bottom: 15px;
			border-style: solid;
			border-width: 5px;
			border-color: #85C8E9;
		}

		#first-header { /*Properties of the title of the page*/
			font-family: Times-New-Roman;
			text-align: center;
			color: #563f46;
		}

		#second-header{ /*Properties of the subtitle of the page*/
			color: #008080;
			font-family: Times-New-Roman;
			font-size: 3em;
			text-align: center;
		}

		.header__logo { /*Properties of the logo of the page*/
  			height: 120px;
  			width: 150px;
		}

		.navegador { /*The CSS flex-wrap property is used to specify whether flex items are forced into a single line or wrapped onto multiple lines.*/
			display: flex;
			flex-wrap: wrap;
			padding-left: 1em;
		}

		.nav { /*Properties of the nav */
  			width: 100%;
  			margin-left: auto;
  			margin-right: auto;
		}

		.nav__list { /*Properties of the nav list*/
 			width: 100%;
  			padding: 0;
  			margin: 0;
		}

		.nav__item { /*Properties of the nav items*/
  			box-sizing: border-box;
 			display: inline-block;
  			width: 24%;
  			text-align: center;
  			line-height: 24px;
  			padding: 24px;
  			text-transform: uppercase;
  			cursor: pointer; /*Changes the appearence of the cursor when hovering over the items*/
  			font-size: 1.5em;
		}

		.nav a { /*Properties of the items when unclicked*/
  			text-decoration: none;
  			color: white;
  			font-weight: bold;
  			font-size: 1em;
		}

		.nav a:hover { /*Properties of the items when clicked*/
  			text-decoration: underline;
  			color: #212121; /*Black color*/
  			padding: 1.5em;
  			cursor: pointer;
		}

		.shoking {
  			float: left; /*The float Property. left - The element floats to the left of its container. right*/
  			width: 100%;
  			position: relative;
  			background-image: url("technology.jpg");
  			border-radius: 10px;
  			background-size: cover; /*A background image can be set to cover the entire element's background area using the cover keyword*/
  			height: 300px;
		}

		.shoking article {
  			box-sizing: border-box;
  			background-color: #000;
  			background-color: rgba(0, 0, 0, 0.7);
  			position: absolute; /*An element with position: absolute; is positioned relative to the nearest positioned ancestor (instead of positioned relative to the viewport, like fixed). However; if an absolute positioned element has no positioned ancestors, it uses the document body, and moves along with page scrolling.*/
  			border-radius: 10px;
  			bottom: 0;
  			height: 40%;
  			width: 100%;
  			color: #fff;
  			padding: 1em;
		}

		.top-news { /*Properties of the top-news section*/
  			float: right;
  			width: 100%;
  			height: 300px;
  			border-bottom: 1px solid #E0E0E0;
  			padding: 0.1em;
  			font-size: 1em;
		}

		.news__title { /*Properties of the top-news Title's section*/
  			font-weight: bold;
  			border-bottom: 1px solid #E0E0E0;
  			line-height: 24px;
  			font-size: 1.3em;
  			color: #ffcc5c;
		}

		.news__more { /*Properties of the +more subtitle*/
  			float: right;
  			font-size: .8em;
  			color: #ffcc5c;
  			font-weight: bold;
  			text-decoration: none;
  			font-size: 1em;
		}

		ul {
			list-style: none; /*Eliminates the bullet points of the list*/
  			padding: 0;
  			margin: 0;
		}

		.top-news__item { /*Properties of the items of the list*/
 		 	border-bottom: 1px solid #E0E0E0;
  			padding: 1em 0;
  			line-height: 19.2px;
  			font-size: 1em;
		}

		.top-news__item:before { /*In CSS, ::before creates a pseudo-element that is the first child of the selected element. It is often used to add cosmetic content to an element with the content property. It is inline by default.*/
  			content: "» "; /*Adds >> Before each of one of the items*/
		}

		.top-news__item:last-child { /*Search Results
Featured snippet from the web
The :last-child selector allows you to target the last element directly inside its containing element. It is defined in the CSS Selectors Level 3 spec as a “structural pseudo-class”, meaning it is used to style content based on its relationship with parent and sibling content*/
  			border-bottom: 1px solid #E0E0E0;
		}

		.top-news__item a {
  			text-decoration: none; /*The items don't have any decoration before hovering witht the mouse*/
  			color: white;
  			padding: 1.5em inherit;
		}

		.top-news__item a:hover,
		.top-news__item a:active { /*Used to select and style an active link*/
  		text-decoration: underline;
		}

		.caja-conlas-cajas {
			display: inline-block; /*Display inline block allows to set a width and a height on the element*/
			padding-top: 1em;
		}

		.subcontent { /*Lef blue box*/
			width: 40%;
			text-align: center;
			background-color: #85C8E9; /*Blue color of the box*/
			padding-bottom: 10px;
			padding-right: 10px;
			padding-left: 10px;
			padding-top: 10px;
			box-sizing: border-box;
			border-radius: 10px;
			border-style: solid;
			border-color: white; /*Color of the border*/
			border-width: 5px;
			float: left;
		}

		.subcontent-dos {
			width: 40%;
			text-align: center;
			background-color: #85C8E9; /*Blue color of the box*/
			padding-bottom: 10px;
			padding-right: 10px;
			padding-left: 10px;
			padding-top: 10px;
			box-sizing: border-box;
			border-radius: 10px;
			border-style: solid;
			border-color: white; /*Color of the border*/
			border-width: 5px;
			float: right;
			margin-left: 150px;
		}
	
		.encabezado { /*Clickable link*/
			font-size: 1.5em;
			color: white;
			text-align: center;
			font-family: Times-New-Roman;
		}

		.main-logo { /*Properties of the logo images inside the boxes*/
			border-style: solid;
			border-color: white;
			border-width: 10px;
			cursor: pointer;
			border-radius: 10px;
			width: 80%;
		}

		.encabezado-subtitulo { /*Properties of the subtitle inside the box*/
			font-family: Times-New-Roman;
			font-weight: bold;
			color: white;
			font-size: 2.5em;
		}

		.encabezado-slogan { /*Properties of the slogan*/
			font-family: Times-New-Roman;
			color: #563f46;
			font-size: 1.5em;
		}
		
		.sub-encabezado { /*Properties of the paragraph*/
			font-family: Times-New-Roman;
			color: white;
			font-size: 1em;
		}

		.content {
			text-align: center;
			width: 100%;
		}

		.Famous { /*Title of the small articles inside the boxes*/
			text-align: center;
			font-family: Times-New-Roman;
			color: white;
			font-size: 1.5em;
		}
		.frase-celebre { /*Important points about Bitcoin*/                                                                                                                                                                                                                                                                                                            
			text-align: justify;
			padding-left: 20px;
			padding-right: 20px;
			font-family: Times-New-Roman;
			color: #563f46;
			font-size: 0.9em;
		}

		.negreado { /*highlights*/
			font-size: 1.05em;
		}

		.reference { /*Reference at the bottom
			text-align: justify;
			padding-left: 20px;
			padding-right: 20px;
			font-family: Times-New-Roman;
			color: #563f46;
			font-size: 0.9em;
		}

		.precios { /*Container with a matrix of criptocurrencyes*/
			align-content: center;
			padding-top: 2em;
		}

		.pricegraphs { /*Header of the matrix with prices*/
  			float: left;
  			width: 100%;
  			padding-left: 0.005em;  		
  			align-content: left;
		}

		.crypto__charts { /*Title of the matri with graphs*/
  			display: block;
  			font-weight: 10px;
  			font-size: 2em;
  			font-family: Times-New-Roman;
  			color: white;
  			padding-left: 0.01em
		}

		.btc__desc { /*Subtitle*/
  			display: block;
  			font-size: 1.5em;
  			font-family: Times-New-Roman;
  			font-weight: 10px;
  			color: white;
  			padding-bottom: 2em;
  			padding-left: 0.2em;
		}

		.crypto__today { /*Container of image and subtitle*/
  			width: 100%;
  			vertical-align: middle;
  			padding: 1em;
  			padding-left: 6em;
		}

		.bitcoin__today__image { /*Bitcoin image properties*/
  			border-style: solid;
			border-radius: 10px;
  			border-color: #feb236;
		}

		.btc__today__temp { /*Subtitle span*/
  			font-size: 2em;
  			color: white;
  			padding-left: 0.1em;
		}

		.btc__today__deg { /*Subtitle span*/
  			font-size: 1em;
  			color: white;
		}

		.charts__next { /*Properties of the list items*/
			padding-top: 3em;
			padding-bottom: 1em;
			padding-right: 5em;
			padding-left: 4.4em;
			align-content: center;
		}

		.charts__next__item { /*Properties of each box list item*/
 			display: inline-block;
  			width: 25%;
  			float: center;
  			padding-right: 1em;
  			padding-top: 1.5em;
  			padding-left: 0.5em;
  			padding-bottom: 2em;
  			border-style: solid;
  			border-width: 1px;
  			border-color: white;
  			border-radius: 10px;
  			background-color: #878f99;
		}

		.titulo__lista__a { /*Title of box item*/
			padding-left: 0.8em;
			font-size: 20px;
			font-weight: normal;
			padding-bottom: 0.5em;
		}

		.titulo__lista__b { /*Title of box item*/
			padding-left: 0.7em;
			font-size: 20px;
			font-weight: normal;
			padding-bottom: 0.5em;
		}

		.titulo__lista__c { /*Title of box item*/
			padding-left: 0.5em;
			font-size: 20px;
			font-weight: normal;
			padding-bottom: 0.5em;
		}

		.titulo__lista__d { /*Title of box item*/
			padding-left: 0.6em;
			font-size: 20px;
			font-weight: normal;
			padding-bottom: 0.5em;
		}

		.titulo__lista__e { /*Title of box item*/
			padding-left: 0.6em;
			font-size: 20px;
			font-weight: normal;
			padding-bottom: 0.5em;
		}

		.fact { /*Message with the Change*/
			padding-left: 0.7em;
			font-size: 20px;
		}

		.charts__next__item span { /*Styles the titles of the boxes*/
  			display: block;
  			text-align: center;
  			color: white;
  			font-weight: bold;
  			font-family: Times-New-Roman;
		}

		.charts__next__image__a { /*Image of the box*/
  			width: 65%;
  			padding-top: 1em;
  			padding-bottom: 1em;
  			margin-left: 1.5em;
		}

		.charts__next__image__b { /*Image of the box*/
  			width: 65%;
  			padding-top: 1em;
  			padding-bottom: 1em;
  			margin-left: 1.5em;
		}

		.charts__next__image__c { /*Image of the box*/
  			width: 65%;
  			padding-top: 1em;
  			padding-bottom: 1em;
  			margin-left: 1.5em;
		}

		.charts__next__image__d { /*Image of the box*/
  			width: 65%;
  			padding-top: 1em;
  			padding-bottom: 1em;
  			margin-left: 1.5em;
		}

		.charts__next__image__e { /*Image of the box*/
  			width: 65%;
  			padding-top: 1em;
  			padding-bottom: 1em;
  			margin-left: 1.5em;
		}

		.recent-news { /*Properties of the container with the recent news*/
 			clear: both; /*Do not allow floating elements on the left or the right side of a specified <p> element:*/
  			padding: 1em;
		}

		.news__title { /*Title of the recent news section*/
			font-size: 2em;
			padding-bottom: 0.5em;
		}

		.snippet { /*Elements of the list*/
			clear: both;
  			margin: 24px 0;
		}

		.snippet__thumbnail { /*Pictures of the elements of the list*/
  			width: 100px;
  			float: left;
  			margin-right: 1em;
		}

		.snippet__title { /*Linkable title*/
  			font-weight: 500;
		}

		.snippet__title a { /*Styling the linkable title*/
  			text-decoration: none;
  			color: white;
  			padding: 1.5em inherit;
  			float: left;
		}

		.snippet__title a:hover, /*Styling the linkable titles when hovering with mouse*/
		.snippet__title a:active {
  			text-decoration: underline;
		}

		.lastn { /*Paragrah of the news*/
			float: right;
			text-align: justify;
		}			

		.tabla { /*Table with characteristics of the coin*/
			background-color: #F0FFF0;
			box-sizing: border-box;
			border-radius: 10px;
			padding-top: 10px;
			padding-bottom: 10px;
			margin-bottom: 15px;
			border-style: solid;
			border-width: 5px;
			border-color: #85C8E9;
			width: 100%;
		}

		.coins { /*Characteristics of the container*/
			width: 100%;
		}

		.coins__table { /*Table*/
  			border-collapse: collapse; /*The border-collapse property sets whether table borders should collapse into a single border or be separated as in standard HTML.*/
  			width: 100%;
		}

		.coins__table th,
		.coins__table td {
 			padding: 1.2em; 
		}

		.coins__table th {
  			color: #fff;
  			font-weight: 400;
  			background-color: #78909C; /*Color of the superior bar that contains the titles*/
  			font-family: Times-New-Roman;
  			font-size: 1.2em;
		}
/*The next two snippets conmute the color between white and light grey in the rows*/
		.coins__table tr:nth-child(odd) td {
  			background-color: #fff;
  			color: #618685;
  			font-size: 1.2em;
		}

		.coins__table tr:nth-child(even) td {
  			background-color: #eceff1;
  			color: #618685;
  			font-size: 1.2em;
		}

		.coins__table td.capital { /*To access to market cap and volume*/
  			font-weight: bold;
  			color: #618685;
  			font-size: 1.2em;
		}
/*The next snippets style the content in the rows*/
		.coins__table td:nth-child(3),
		.coins__table td:nth-child(1) {
  			text-align: center;
  			border-style: bold;
		}

		.coins__table td:nth-child(2),
		.coins__table td:nth-child(6) {
  			text-align: center;
		}

		.coins__table td:nth-child(4) {
			text-align: right;
		}

		.coins__table td:nth-child(5) {
			text-align: left;
		}

		.logomoneda { /*logo of crypto*/
			height: 50px;
			width: 50px;
		}

footer a { /*Footer properties*/
  			text-decoration: none;
  			font-family: Times-New-Roman;
  			letter-spacing: 2px;
  			font-size: 1.5em;
  			color: white;
  			width: 100%;
  			padding: 1.5em;
		}

		footer {
  			border-top: 1px solid #E0E0E0;
  			padding: 1em;
  			width: 95%;
  			text-align: center;
  			padding-left: 2em;
		}

		footer li {
  			display: inline-block;
  			margin: 0 1em;
		}




	
